@use './header';
@use '../../../../node_modules/bootstrap/scss/bootstrap.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(128, 134, 141);
}

.my-container {
    max-width: 90%;
    margin: auto;
    height: 80vh;
}